* {
  box-sizing: border-box;
}

:root {
  --primColor: #000000;
  --secColor: #ffffff;
  --thdColor: #00008e;
  --frthColor: #a4a4a4;
  --fifthColor: #ff0000;
  --sthColor: #adff2f;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

nav {
  background-color: var(--frthColor);
  color: var(--secColor);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 2rem;
  gap: 2rem;
}

.logo {
  font-size: 2rem;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.2rem;
  list-style: none;
}

nav a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  height: 100%;
}

nav li.active {
  background-color: grey;
}

nav li:hover {
  background-color: var(--secColor);
  color: #000000;
}

